@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Druk";
  src: url("./font/Druk-Wide-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.druk {
  font-family: Druk;
}
body {
  overflow-x: hidden;
}
